@{
    ViewData["Title"] = "Administração";
}

<h1 class="mb-3">Administração</h1>

<div class="row mb-2 text-center"> 
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-action="Schedules" asp-controller="Admin">Ver horários</a>
                </h5>
            </div>
        </div>
    </div>
    @* <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-action="Users" asp-controller="Admin">Ver utilizadores</a>
                </h5>
            </div>
        </div>
    </div> *@
</div>
