@model ScheduleCreateModel

@{
    ViewData["Title"] = "Criar horário";
}

<h1>Criar horário</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="When"></label>
                <input asp-for="When" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="When" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaxStudentsPerSlot"></label>
                <input asp-for="MaxStudentsPerSlot" min="1" class="form-control" />
                <span asp-validation-for="MaxStudentsPerSlot" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentsUpload"></label>
                <input asp-for="StudentsUpload" type="file" accept=".xls,.xlsx" />
                <span asp-validation-for="StudentsUpload" class="text-danger"></span>
                <div class="form-text text-muted">
                    <p>São aceites ficheiros Excel (.xls ou .xlsx).</p>
                    <p>São necessárias duas colunas no ficheiro:</p>

                    <ul class="list-unstyled">
                        <li><kbd>Aluno</kbd>, para o nº do Aluno</li>
                        <li><kbd>Nome</kbd>, para o nome do Aluno</li>
                    </ul>

                    <p>Outras colunas serão ignoradas.</p>

                    <p>
                        Pode usar uma pauta da plataforma <a href="https://netpa.ipt.pt/netpa" target="_blank" rel="nofollow noopener">NetPa</a>,
                        ou este <a href="~/templates/StudentsTemplate.xlsx">ficheiro Excel</a> como ponto de partida.
                    </p>

                    <p>Alunos não existentes na plataforma serão criados automaticamente.</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Criar</button>
        </div>
        <div class="col-sm-8">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="_SlotDuration">Duração do turno</label>
                    <div class="input-group">
                        <input type="number" class="form-control" min="5" step="5" id="_SlotDuration" value="15" />
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="_DayStart">Início</label>
                    <input type="time" class="form-control" id="_DayStart" value="09:00" />
                </div>

                <div class="form-group col-md-4">
                    <label for="_DayEnd">Fim</label>
                    <input type="time" class="form-control" id="_DayEnd" value="17:30" />
                </div>
            </div>

            <div class="form-group">
                <button type="button" id="GenerateSlots" class="btn btn-primary">Gerar turnos</button>
            </div>

            <div class="form-group" @(Model.Slots == null ? "hidden" : "") id="TimeTableSlots">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Turno</th>
                            <th>Descrição</th>
                            <th>Disponível</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 0;
                            var slots = Model.Slots ?? new List<ScheduleSlotCreateModel>();
                        }
                        @foreach (var slot in slots)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="Slots[i].StartsAt" />
                                    <input type="hidden" asp-for="Slots[i].EndsAt" />

                                    @slot.StartsAt&nbsp;-&nbsp;@slot.EndsAt
                                </td>
                                <td>
                                    <input asp-for="Slots[i].Description" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="Slots[i].Available" />
                                </td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</form>

@section scripts {
    <script type="module">
        import { generateSlotsTable } from "@(Url.Content("~/js/schedules-form.js"))";

        $('#GenerateSlots').on('click', e => {
            generateSlotsTable();
        });
    </script>
}
