@using Schedules.Utils;
@model ScheduleListModel

@{
    ViewData["Title"] = "Horários";
}

<h1 class="mb-3">Horários</h1>

@if (User.IsInRole(Roles.Faculty))
{
<div class="btn-group">
    <a class="btn btn-primary mb-3" asp-action="Create">Criar horário</a>
</div>
}

<h2>Próximos horários</h2>

@if (Model.CurrentSchedules.Any())
{
    <partial name="_ListPartial" model="Model.CurrentSchedules" />
}
else if (User.IsInRole(Roles.Faculty))
{
    <p>Não tem horários criados. Pode <a asp-action="Create" class="btn btn-sm btn-primary">criar</a> um horário agora.</p>
}
else
{
    <p>Não existem horários disponíveis. Por favor, verifique mais tarde.</p>
}

@if (Model.PastSchedules.Any())
{
    <h2 class="mt-3">Horários passados</h2>
    <p>Verifique aqui os horários que já passaram.</p>
    <partial name="_ListPartial" model="Model.PastSchedules" />
}
