<h1>Horário não encontrado</h1>

<p>Lamentamos, mas o horário solicitado não foi encontrado. Pode ter sido eliminado, ou o link que usou pode estar incorreto.</p>

<a asp-action="Index">Voltar à lista de horários</a>
