@using System.Security.Claims;
@using Schedules.Utils;

@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Olá, @(User.FindFirst("given_name")?.Value ?? User.Identity.Name).</h1>

        <div class="row mt-5 mb-2">
            @if (User.IsInRole(Roles.Student) || User.IsInRole(Roles.Faculty))
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-action="Index" asp-controller="Schedules">Ver os meus horários</a>
                            </h5>
                        </div>
                    </div>
                </div>
            }

            @if (User.IsInRole(Roles.Faculty))
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-action="Create" asp-controller="Schedules">Criar um novo horário</a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>

        <p>
            Tem alguma questão ou sugestão? Contacte <a href="mailto:afecarvalho@ipt.pt">afecarvalho@ipt.pt</a>!
        </p>
    }
    else
    {
        <h1 class="display-4">Bem-vindo à aplicação de marcação de defesas do IPT.</h1>

        <p class="mt-5">Para poder ver os seus horários, por favor <a asp-action="Login" class="btn btn-sm btn-primary">inicie sessão</a> com a sua conta do IPT.</p>
    }
</div>
